{% extends "layouts/base-presentation.html" %}
{% block title %} Presentation {% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}
{% block body_class %} Users-page {% endblock body_class %}
{% block content %}  
  <header class="header-2">
    <div class="page-header section-height-100 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/curved.jpg')">
      <div class="container">        
        <div class="col-lg-7 text-center mt-6 mx-auto">
          <h1 class="text-white pt-3 mt-n5">
            Feedbacks {% if object_list %} for finding 
            {{ object_list.first.finding.name }}{% endif %}
          </h1>
          <br>
        </div>
        <div class="text-light">              
          {% if object_list %}
            {% for feedback in object_list %}
              <div class="row">
                <div class="col-4">
                  <ul>
                    <li>reviewer: {{ feedback.reviewer}}</li>
                    <li>rate: {{ feedback.rating }}</li>
                    <li>created_at: {{ feedback.created_at }}</li>
                  </ul>
                </div>
                <div class="col-8">
                  <ul>commentary:
                    <li>{{ feedback.comment}}</li>
                  </ul>
                </div>                      
              </div>                    
            {% endfor %}                  
            {% else %}
              <p>There are no feedbacks yet.</p>
          {% endif %}                
          {% include "includes/pagination.html" %}        
        </div>
      </div>      
    </div>
  </header>  

{% endblock %}
