{% extends "layouts/base-presentation.html" %}
{% block title %} Presentation {% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}
{% block body_class %} Users-page {% endblock body_class %}
{% block content %}  
  <header class="header-2">
    <div class="page-header section-height-100 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/curved.jpg')">
      <div class="container">        
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">
            Our findings
            {% if request.user.is_authenticated %}
              <a class="text-info" href="{% url 'catalog:findings-create' %}">+</a>
            {% endif %}
          </h1>
          {% include "includes/search_form.html" %}
        </div>
        <div class="text-light">              
          {% if finding_list %}
            <table class="table text-light">
              <tr>        
                <th>Finding</th>
                <th>Description</th>
                <th class="text-center mx-auto">Comrade found</th>
                {% if request.user.is_staff or request.user == finding.user %}
                  <th class="text-center mx-auto">Remove</th>
                {% endif %}
              </tr>
              {% for finding in page_obj %}
                <tr> 
                  <td class="text-truncate"><a class="text-info" href="{% url 'catalog:findings-detail' pk=finding.pk %}">{{ finding.name }}</a>
                  <td class="text-truncate max-width-500">{{ finding.description}}</td>  
                  <td class="text-center mx-auto">{{ finding.user.username }}</td>
                  {% if request.user.is_staff or request.user == finding.user %}
                    <td class=" text-center mx-auto">
                      <a class="text-light" href="{% url 'catalog:findings-delete' pk=finding.pk %}">
                        <span style="font-size: 20px">🗑️</span>
                      </a>          
                    </td>  
                {% endif %}
                </tr>
              {% endfor %}              
            </table>
            {% else %}
              <p>There are no any finding yet.</p>
          {% endif %}                
          {% include "includes/pagination.html" %}
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
          </g>
        </svg>
      </div>
    </div>
  </header> 
{% endblock %}









