{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h1>Name: {{ finding.name }}</h1>
  <a href="{% url 'catalog:findings-update' pk=finding.pk %}">Update</a>
  <p>Description: {{ finding.description }}</p>
  <p>Location: {{ finding.location }}</p>
  <p>Date found: {{ finding.date_found }}</p>
  
  <p>rating: {{ average_rating }}</p>
  
  
  <p>created_at: {{ finding.created_at }}</p>  
  <p>Comrade {{ finding.user }} found it 
    {% if finding.user.detector_model %}
      with {{ finding.user.detector_model }}
    {% endif %}
  </p>
   
  
 <ul>Images:  <a href="{% url 'catalog:image-create' %}">Add new image</a>
  {% for image in finding.images.all %}
    <li>      
      <img src="{{ image.photo.url }}" alt="Image {{ image.pk }}" style="width: 90%; height: auto;">
      <a href="{% url 'catalog:image-delete' pk=image.pk %}" class="btn btn-default">Delete this photo</a>
    </li>
  {% endfor %}  
</ul>
  
  <ul>Feedbacks (last 3 out of {{ finding.feedbacks.count }} are shown) : 
    {% for feedback in finding.feedbacks.all|slice:":3"%}
    <li>
      from {{ feedback.reviewer }} at {{ feedback.created_at }}
      <br>
      {{ feedback.comment }}
      <br>
      {% if feedback.rating %}
      rated as {{ feedback.rating }} points
    {% endif %}      
    </li>  
    {% endfor %}  
  <a href="{% url 'catalog:feedbacks' pk=finding.pk %}">Show all feedbacks</a>
  </ul>
  <p>Add feedback</p>
  <form method="post" action="" class="form-inline">
    {% csrf_token %}
    {{ feedback_form|crispy }}    
    <input type="submit" value="submit" class="btn btn-secondary">
  </form>
{% endblock %}