{% extends "layouts/base-presentation.html" %}

{% block title %} Presentation {% endblock title %}


{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} Users-page {% endblock body_class %}
{% load crispy_forms_tags %}
{% block content %}
  
  <header class="header-2">
    <div class="page-header section-height-100 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/curved.jpg')">
      <div class="container"> 
          <div class="col-lg-10  mx-auto text-center">
            <h1 class="text-white">Name: {{ finding.name }}</h1>
          
                     
          </div>
      
        <h5 class="text-white">Description: {{ finding.description }}</h5>  
        <div class="row">
        
          <div class="col-4 text-white">            
            <br>
            {% if finding.location %}
              <p>Location: {{ finding.location }}</p>
            {% endif %}
            {% if finding.date_found %}
              <p>Date found: {{ finding.date_found }}</p> 
            {% endif %}
            {% if average_rating %}
              <p>rating: {{ average_rating }}</p> 
            {% endif %}
              <p>created_at: {{ finding.created_at }}</p>
            {% if finding.user.detector_model %}
              <p>Comrade {{ finding.user }} found it with {{ finding.user.detector_model }}</p>
            {% endif %}
            {% if request.user.is_staff or request.user == finding.user %}
              <a class="text-info" href="{% url 'catalog:findings-update' pk=finding.pk %}">Update</a>
            {% endif %}
            <br><br>
            
          </div>      
        
          <div class="col-8 text-center">
            <div id="Carousel1" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
            <div class="carousel-inner">
              {% for image in finding.images.all %}
                <div style="max-height: 50vh; object-fit: cover;" class="carousel-item {% if forloop.first %}active{% endif %}">
                  <img src="{{ image.photo.url }}" class="d-block w-100" alt="Image {{ image.pk }}">
                  {% if request.user.is_staff or request.user == finding.user %}
                    <div class="position-absolute bottom-0 start-50 translate-middle-x mb-3">
                      <a href="{% url 'catalog:image-delete' pk=image.pk %}" class="btn btn-danger">Delete</a>
                    </div>
                  {% endif %}
                </div>
                {% empty %}
                <h1>no photos added</h1>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#Carousel1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#Carousel1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>          
          </div>
          
          {% if request.user.is_staff or request.user == finding.user %}
            <br>        
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div style="display: flex; justify-content: flex-end; align-items: flex-end;">
            <label for="comment" style="margin-right: 10px"><h3>Add Photo</h3></label>
            {{ image_form|crispy }}              
              
          <button type="submit" name="submit_image" class="btn btn-secondary">Add Photo</button>
          </div>
        {% else %}
        </form>
        {% endif %}
        </div>
         
        
        {% if finding.feedbacks %}
          <ul class="text-light">Feedbacks: 
            {% for feedback in finding.feedbacks.all|slice:":3" %}
              <li>
                from {{ feedback.reviewer }} at {{ feedback.created_at }}
                <br>
                {{ feedback.comment }}
                <br>
                {% if feedback.rating is not none %}
                rated as {{ feedback.rating }} points
              {% endif %}      
              </li>  
            {% endfor %}  
          </ul>        
         <a class="text-info" href="{% url 'catalog:feedbacks' pk=finding.pk %}">Show all {{ finding.feedbacks.count }} feedbacks</a>
        {% endif %}

        
        {% if request.user != finding.user %}  
          <h2>Add feedback</h2>          
          <form method="post" >
            {% csrf_token %}
            <div class="d-flex"> 
              {{ feedback_form|crispy }}            
              <input type="submit" name="submit_feedback" class="btn btn-secondary">            
            </div>
          </form>
        {% endif %}
      </div>      
    </div>

      <div class="position-absolute w-100  bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
          </g>
        </svg>
      </div>
    </div>
  </header> 
{% endblock %}